/**/
/* GENERAL */
/**/

html {
	font-size: 100%;
}

/**/
/* COULEUR DE FOND */
/**/
body {
    background-color: #4caf50;
    font-size: 1em;
}

/**/
/* BANDEAU HAUT DE PAGE*/
/**/
.backgroundImg {
    background-image: url(../photos/photos_normandie/bandeau.jpg);
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/**/
/* BARRE DE MENU*/
/**/

.menuSite {
    color: black !important;
}

.menuPage {
	color: #1b5e20 !important;
}

.side-nav li>a {
    color: #fff;
}


/**/
/* HEADER */
/**/
h1 {
    font-size: 8vw;
    color: #f9a825;
}

.header_text {
	font-size: 3vw;
}

/**/
/* ARTICLES */
/**/

h2 {
	font-size: 2em;
	color: #f9a825;
	text-align: center;
	
}

.card-panel {
    margin: 1em;
}

.teal {
    background-color: #1b5e20 !important;
}

/* index.html*/
.article_text {
    background-color: #4caf50;
    border: 2px solid #f9a825;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.photo {
    width: 100%;
    border: 2px solid #f9a825;
    margin-bottom: 1em;
}
