linkCOlor {
    color: #f9a825;
}
/**/
/* BODY */
/**/
body {
    background-color: #4caf50;
}

/**/
/* NAV */
/**/
nav {
    background-color: #f9a825;
}

.menuSite {
    color: black !important;
}

.menuPage {
	color: #1b5e20 !important;
}

.side-nav {
    background-color: #f9a825;
}

.side-nav li>a {
    color: #fff;
}

/**/
/* HEADER */
/**/
h1 {
    font-size: 8vw;
    color: #f9a825;
}

header, p {
	font-size: 1.7em;
	font-weight: 10;
}


.backgroundImg {
    background-image: url(../photos/photos_normandie/bandeau.jpg);
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-panel {
    margin: 1em;
}

.buttonColor {
    background-color: #f9a825;
}

.teal {
    background-color: #1b5e20 !important;
}