linkCOlor {
    color: #f9a825;
}
/* couleur de fond des pages */
body {
    background-color: #4caf50;
}

/* couleur de la barre de navigation*/
nav {
    background-color: #f9a825;
}

/* header*/
h1 {
    font-size: 8vw;
    color: #f9a825;
}

header, p {
	font-size: 1.7em;
	font-weight: 10;
}


.backgroundImg {
    background-image: url(../photos/photos_normandie/bandeau.jpg);
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-panel {
    margin: 1em;
}

.buttonColor {
    background-color: #f9a825;
}

.menuPage {
    color: black !important;
}

.side-nav {
    background-color: #f9a825;
}

.side-nav li>a {
    color: #fff;
}

.teal {
    background-color: #1b5e20 !important;
}